/* Reset and basic styles */
body, h1, h2, p, button {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #8ddec2;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.container {
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

.cause-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cause-card {
    background-color: rgb(227, 165, 165);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cause-card h2 {
    font-size: 1.5em;
}

.donate-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.donate-button:hover {
    background-color: #218838;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgb(226, 175, 175);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button#cancelDonation {
    background-color: #dc3545;
    margin-top: 10px;
}

button#cancelDonation:hover {
    background-color: #c82333;
}

